*{
	margin:0px;
	padding:0px;
}

div#menu{
	width:200px:
	margin-top:50px;
}

div#menu ul{
	list-style:none;
}

div#menu ul li{
	margin-top:15px;
	font-family:tahoma;
	font-size:18px;
	background-color: #fff;
	width: 160px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 20px 20px 0px;
	border: 3px solid #000;
	padding-left: 20px;
	box-shadow: 5px 5px 10px #fff;
	-webkit-trasition:padding-left 0.6s:
	color:#000;
}

div#menu ul li:hover{
	padding-left:50px;
}

body {
	background-color: #ffdd90;
	background-image: url("fondos.jpg");
	
	}

header  {
	width: 90%;
	heigh: 10%;
	background: #999; 
	margin: 45px auto;
	padding:15 px;
	border:3px solid #999;
	border-radius: 20px 5px 15px 5px;
	box-shadow:#999 5px 5px 5px;
	}

header h1,nav{
	display:inline-block;
	vertical-align:middle;
		}
h1	{
	font:bold 36px verdana, geneva, sans-serif;
	text-shadow:  #FF1493 3px 3px 5px;
	color:  #fff;
	}
nav li{
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	}
a	{
	text-decoration: none;
	}
nav ul a{
	color:#fff;
	font-family: Arial, Helvetica, verdana;
	font-sixe:1.2em;
	background: #696969; 
	padding: 5px 15px;
	border-radius: 5px 0px 5px 0px;
	border: 3px solid  #999;

	}
nav ul a:hover{
	color: #fff;
	font-family: arial, Helvetica, verdana;
	font-size: 1.2em;
	background:  #fff:
	padding: 8px 15px;
	border-radius: 5px 0px 5px 0px;
	border: 1px dashed  #999;

	}

header nav	{
		width: 65%;
		}

header h1{
	width:30%;
	}
	

header nav{
	width: 65%
	}
header h1{
	width:20%
	
	}
	#fotoprincipal{
	margin:0 auto;
	width: 90%
	height: 100%
	text-align:center;
	padding:10px;
	}
	img{
	max-width: 100%
	}
#infoprincipal{
	background: #999;
	border-radius: 10px;
	border:3px solid  #999;
	heigh: 100%;
	margin: 0 auto;
	padding:7px 10px;
	width: 65%;
	text-align: center;
	box-shadow:#000 5px 5px 5px;
	}

#infoprincipal p{
	font-family: verdana;
	color:rgb(255, 192, 203)03), 255);
	font-size: 20pt;
	text-align: center;
	}
	
#colorletra p{
	font-family: verdana;
	color:#000;
	font-size: 11pt;
	text-align: center;

span{
	font-famyly:helvetica, verdana;
	color:#999;
	font-size: 18pt;
	text-transform: uppercase;<!---escribe en mayusculas;
	text-shadow: 4px 4px 2px rgba(150, 150, 150, 
	}

footer{
	font-family:helvetica, verdana;
	color:chocolate;
	font-size: 13pt;
	text-align:center;
	}


	